<%- include('partials/header') %>

<main>
<div class="hello">
  <h1>Available Products</h1>
</div>
  <section class="product-list">
  
    <div class="product">
      <img src="https://th.bing.com/th?id=OIP.bKDoRvEg9RmqJjOvbhunuAHaEI&w=334&h=186&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" alt="Medicine 1">
      <h3>Medicine 1</h3>
      <p>Description and benefits of Medicine 1.</p>
      <p>Price: $10.00</p>
      <button>Add to Cart</button>
    </div>
    <!-- More products can be added here -->
    <div class="product">
      <img src="https://th.bing.com/th?id=OIP.bKDoRvEg9RmqJjOvbhunuAHaEI&w=334&h=186&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" alt="Medicine 1">
      <h3>Medicine 1</h3>
      <p>Description and benefits of Medicine 1.</p>
      <p>Price: $10.00</p>
      <button>Add to Cart</button>
    </div>

    <div class="product">
      <img src="https://th.bing.com/th/id/OIP.jmzwR-OGFA223PEiTAPRyQHaFG?w=253&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="Medicine 1">
      <h3>Medicine 1</h3>
      <p>Description and benefits of Medicine 1.</p>
      <p>Price: $10.00</p>
      <button>Add to Cart</button>
    </div>

    <div class="product">
      <img src="https://th.bing.com/th?id=OIP.Trfxj5TFmswuwoqmuOs-ZwHaFM&w=298&h=209&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" alt="Medicine 1">
      <h3>Medicine 1</h3>
      <p>Description and benefits of Medicine 1.</p>
      <p>Price: $10.00</p>
      <button>Add to Cart</button>
    </div>
    <div class="product">
      <img src="https://th.bing.com/th?id=OIP.Trfxj5TFmswuwoqmuOs-ZwHaFM&w=298&h=209&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" alt="Medicine 1">
      <h3>Medicine 1</h3>
      <p>Description and benefits of Medicine 1.</p>
      <p>Price: $10.00</p>
      <button>Add to Cart</button>
    </div>
    <div class="product">
      <img src="https://th.bing.com/th/id/OIP.jmzwR-OGFA223PEiTAPRyQHaFG?w=253&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="Medicine 1">
      <h3>Medicine 1</h3>
      <p>Description and benefits of Medicine 1.</p>
      <p>Price: $10.00</p>
      <button>Add to Cart</button>
    </div>
    
    
    <div class="product">
      <img src="https://th.bing.com/th?id=OIP.C_QkMckJouOvRla0_Gj_oAHaFW&w=293&h=212&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" alt="Medicine 1">
      <h3>Medicine 1</h3>
      <p>Description and benefits of Medicine 1.</p>
      <p>Price: $10.00</p>
      <button>Add to Cart</button>
    </div>
    <div class="product">
      <img src="https://th.bing.com/th?id=OIP.C_QkMckJouOvRla0_Gj_oAHaFW&w=293&h=212&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" alt="Medicine 1">
      <h3>Medicine 1</h3>
      <p>Description and benefits of Medicine 1.</p>
      <p>Price: $10.00</p>
      <button>Add to Cart</button>
    </div>
    <div class="product">
      <img src="https://th.bing.com/th/id/OIP.jmzwR-OGFA223PEiTAPRyQHaFG?w=253&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="Medicine 1">
      <h3>Medicine 1</h3>
      <p>Description and benefits of Medicine 1.</p>
      <p>Price: $10.00</p>
      <button>Add to Cart</button>
    </div>

    <div class="product">
      <img src="https://th.bing.com/th/id/OIP.jmzwR-OGFA223PEiTAPRyQHaFG?w=253&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="Medicine 1">
      <h3>Medicine 1</h3>
      <p>Description and benefits of Medicine 1.</p>
      <p>Price: $10.00</p>
      <button>Add to Cart</button>
    </div>
   
  </section>
</main>

<%- include('partials/footer') %>
